<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <%= link_to access_filter.owner.try(:name) || l(:label_user_anonymous), edit_access_filter_path(access_filter) %>    
  </td>
  <td>
    <% if access_filter.active %>
      <%= image_tag 'toggle_check.png' %>
    <% end %>
  </td>
  <td>
    <% if access_filter.web %>
      <%= image_tag 'toggle_check.png' %>
    <% end %>
  </td>
  <td>
    <% if access_filter.api %>
      <%= image_tag 'toggle_check.png' %>
    <% end %>
  </td>
  <td>
    <%= access_filter.cidrs %>
  </td>
  <td>
    <%= reorder_handle(access_filter, :param => :put) %>
  </td>
  <td>
    <%= link_to l(:label_access_filters_edit), edit_access_filter_path(access_filter), :class => 'icon icon-edit' %>
    <%= link_to l(:label_access_filters_delete), access_filter_path(access_filter), :method => :delete, :confirm => l(:label_access_filters_delete_confirmation), :class => 'icon icon-del' %>
  </td>
</tr>
