<div class="contextual">
  <%= link_to l(:label_access_filters_new_filter), new_access_filter_path, :class => 'icon icon-add' %>
</div>
<h2><%=l(:label_access_filters_plural)%></h2>
<table class='list'>
  <thead>
    <tr>
      <th>
        <%= l(:label_access_filters_user) %>
      </th>
      <th>
        <%= l(:label_access_filters_active) %>
      </th>
      <th>
        <%= l(:label_access_filters_web) %>
      </th>
      <th>
        <%= l(:label_access_filters_api) %>
      </th>
      <th>
        <%= l(:label_access_filters_cidrs) %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @access_filters %>
  </tbody>
</table>

